.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  text-align: center;
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: url("images/banner.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 309px;
  min-width: 208px;
  white-space: nowrap;
  transition-duration: 0.5s;
  margin: 560px auto 60px 60px;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 718px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 0% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 657px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 340px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 547px;
    background-position: 80.48% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 214px;
  }
}

.u-block-c868-27:not([data-block-selected]):not([data-cell-selected]),
.u-block-c868-27:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c868-27:not([data-block-selected]):not([data-cell-selected]).u-block-c868-27:not([data-block-selected]):not([data-cell-selected]).u-block-c868-27:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-block-c868-27.u-block-c868-27.u-block-c868-27.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-2 .u-social-icons-1,
.u-section-2 .u-social-icons-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-3 .u-image-1 {
  width: 776px;
  height: 776px;
  transition-duration: 0.5s;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(69,94,20,0.4), rgba(69,94,20,0.4)), url("images/559201.jpg");
  background-position: 50% 55.93%;
}

.u-section-4 .u-sheet-1 {
  min-height: 214px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  margin: 53px auto 0 60px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 auto 53px 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-5 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 60px auto 0 62px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 507px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-5 .u-image-1 {
  width: 394px;
  height: 977px;
  transition-duration: 0.5s;
  object-position: 0% 81.99%;
  margin: -507px 0 0 auto;
}

.u-section-5 .u-list-2 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: -470px auto 60px 62px;
}

.u-section-5 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 507px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -58px 0 0 115px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -58px 0 0 115px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -58px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
    margin-top: -64px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -45px;
  }

  .u-section-5 .u-image-1 {
    height: 237px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-2 {
    margin-top: 79px;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-icon-6 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -55px;
    margin-right: -11px;
    margin-left: 104px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -55px;
    margin-right: -11px;
    margin-left: 104px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -55px;
    margin-right: -11px;
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2142px;
  }

  .u-section-5 .u-list-1 {
    width: 358px;
    margin-right: -18px;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 867px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 83px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 19px;
    margin-left: 96px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 83px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-right: 19px;
    margin-left: 96px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 83px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 19px;
    margin-left: 96px;
  }

  .u-section-5 .u-image-1 {
    height: 293px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-2 {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 832px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -64px;
    margin-right: 41px;
    margin-left: 117px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -64px;
    margin-right: 41px;
    margin-left: 117px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 42px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -64px;
    margin-right: 41px;
    margin-left: 117px;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
}

.u-section-5 .u-text-4,
.u-section-5 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-text-5,
.u-section-5 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-text-6,
.u-section-5 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-6.u-text-6.u-text-6:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-text-6.u-text-6.u-text-6.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(69,94,20,0.4), rgba(69,94,20,0.4)), url("images/559201.jpg");
  background-position: 50% 55.93%;
}

.u-section-6 .u-sheet-1 {
  min-height: 214px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  margin: 53px auto 0 60px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 auto 53px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 9px 7px 49px auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 552px;
}

.u-section-7 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 388px;
  grid-gap: 10px 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 80px;
  width: 80px;
  color: rgb(15, 146, 255) !important;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 80px;
  width: 80px;
  color: rgb(219, 84, 90) !important;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 80px;
  width: 80px;
  color: rgb(0, 109, 240) !important;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 80px;
  width: 80px;
  color: rgb(219, 84, 90) !important;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-7 .u-text-1 {
    animation-duration: 1000ms;
  }

  .u-section-7 .u-text-3 {
    animation-duration: 1000ms;
  }

  .u-section-7 .u-text-5 {
    animation-duration: 1000ms;
  }

  .u-section-7 .u-text-7 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 980px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
  }
}

.u-section-7 .u-text-4,
.u-section-7 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-2,
.u-section-7 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-6,
.u-section-7 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-text-6.u-text-6.u-text-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-6.u-text-6.u-text-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-8,
.u-section-7 .u-text-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-text-8.u-text-8.u-text-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-text-8.u-text-8.u-text-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-icon-3,
.u-section-7 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-1,
.u-section-7 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-2,
.u-section-7 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-4,
.u-section-7 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-7 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1) translateX(0px) translateY(-5px) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-8 .u-group-1 {
  width: 845px;
  min-height: 76px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 188px 0 215px;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 48px auto 0 417px;
}

.u-section-8 .u-icon-1 {
  width: 173px;
  height: 173px;
  margin: -11px auto 0 160px;
}

.u-section-8 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: -162px 165px 0 auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 507px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 20px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 20px;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: -64px 0 0 115px;
}

.u-section-8 .u-list-2 {
  width: 1060px;
  margin: 60px auto;
}

.u-section-8 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 211px;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 15px;
}

.u-section-8 .u-group-2 {
  width: 403px;
  min-height: 200px;
  margin: 0 18px 0 auto;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
  transition-duration: 0.5s;
}

.u-section-8 .u-container-layout-7 {
  padding: 0 15px;
}

.u-section-8 .u-group-3 {
  width: 403px;
  min-height: 200px;
  background-size: auto;
  margin: 0 18px 0 auto;
}

.u-section-8 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
  transition-duration: 0.5s;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 145px;
    margin-right: 297px;
    margin-left: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -108px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 160px;
  }

  .u-section-8 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-2 {
    min-height: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 126px;
    margin-left: 153px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-8 .u-list-1 {
    margin-left: auto;
  }

  .u-section-8 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 56px;
    margin-left: 83px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 109px;
    margin-right: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 73px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 73px;
  }

  .u-section-8 .u-list-2 {
    margin-top: 15px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-2 {
    min-height: 410px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 111px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-left: 111px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-left: 111px;
  }

  .u-section-8 .u-group-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-8 .u-group-3 {
    width: 320px;
    margin-right: 0;
  }
}

.u-section-8 .u-text-3,
.u-section-8 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-4,
.u-section-8 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-5,
.u-section-8 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-5.u-text-5.u-text-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-5.u-text-5.u-text-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-9,
.u-section-8 .u-text-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-9.u-text-9.u-text-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-9.u-text-9.u-text-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-7,
.u-section-8 .u-text-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-7.u-text-7.u-text-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-7.u-text-7.u-text-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-9 .u-sheet-1 {
  min-height: 714px;
}

.u-section-9 .u-group-1 {
  width: 845px;
  min-height: 76px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 124px 0 155px;
}

.u-section-9 .u-text-2 {
  margin: 89px 0 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 62px;
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 58px;
  }
}@font-face {
  font-family: 'Mitr-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Mitr-Regular.ttf);
}@font-face {
  font-family: 'FCIconicBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FCIconicBold.ttf);
}@font-face {
  font-family: 'Mitr-ExtraLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Mitr-ExtraLight.ttf);
}